.bigcontainerCreador {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "header header header" "creadorMain creadorMain creadorMain" "footer footer footer" "logoRed1 logoRed2 logoRed3";
}
.creadorMain {
	grid-area: creadorMain;
	background-color: #222;
	color: white;
}
.tituloKen {
	display: flex;
	text-align: center;
	justify-content: center;
}
.imgKentaro {
	padding: 50px;
	display: flex;
	justify-content: center;
	height: 400px;
}
.kentaroText {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 50px;
}
.kentaroVid{
	display: flex;
	justify-content: center;
	padding: 50px;
}

